parameters:
    level: 7
    paths:
        - ./
    excludes_analyse:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        # This isn't true, if session module isn't loaded, $_SESSION var won't be set
        - '#Variable \$_SESSION in isset\(\) always exists and is not nullable\.#'
